{{!-- <h1>Your Dashboard</h1>
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
  {{#each posts as |post|}}
  <li>
    {{> post-content post}}
  </li>
  {{/each}}
  </ol>
</section>
{{/if}}

<form id="newpost">
  <button>+ New Post</button>
</form> --}}