<div>
<div class="dashboard-container">
  <div class="dashboard-box"><h2>Your Dashboard</h2></div>
</div>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
  {{#each posts as |post|}}

    {{> post-content post}}

  {{/each}}
</section>
{{/if}}


<button type="submit" class="btn"><a class="new-post-btn" href="/dashboard/new">+ Add New Post</a></button>
</div>