<div>
  <div class="dashboard-container">
    <div class="dashboard-box"><h2>Your Dashboard</h2></div>
  </div>
  <section class="new-post-container">
    <form id="new-post-form">
      <div class="new-post-header">
        <h2>Create New Post</h2>
      </div>
      <div class="new-post-body">
        <h3>Title</h3>
        <textarea name="title" id="title" cols="200" rows="2"></textarea>
        <h3>Content</h3>
        <textarea name="content" id="content" cols="200" rows="5"></textarea>
        <div>
          <button class="btn" id="new-post-btn" type="submit">Create</button>
        </div>
      </div>
    </form>
  </section>
</div>

<script src="/js/newpost.js"></script>