:root {
  --dark: #454545;
  --light: #faf1e6;
  --green: #7eca9c;
}
/* Navbar */
.header {
  background-color: var(--dark);
  padding: 1.25rem 0;
  display: flex;
  flex-wrap: wrap;
}
.nav-link {
  color: var(--light);
  font-size: 1.25rem;
  margin: 0 1rem;
}
.navbar-nav a:hover {
  color: var(--green);
}
.header-text {
  background-color: var(--light);
  border-radius: 25% 10%;
}
.header-text {
  padding: 0.75rem 0.5rem;
  margin-left: 1rem;
  color: var(--dark);
}
.header-text:hover {
  color: var(--green);
}
/* Navbar */

body {
  background-color: var(--light);
}

#newpost {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* posts */
.card-header {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
.card-header a {
  text-decoration: none;
  margin-left: 1rem;
  color: var(--light);
}
.card-header a:hover {
  color: var(--green);
}
.card-header h4 {
  margin-top: 1.5rem;
}
.card-header p {
  margin: 1.5rem 1rem 0 0;
  color: var(--light);
}
.card-body {
  margin: 1.75rem 2.5rem;
}
.card-container {
  border-style: solid;
  margin: 1.75rem 2.5rem;
}
/* posts */

.dashboard-container {
  background-color: var(--dark);
  padding: 1.5rem;
}
.dashboard-container h2 {
  display: inline;
  color: var(--dark);
}
.dashboard-box {
  width: 25%;
  background-color: var(--light);
  border-radius: 10px;
  text-align: center;
  padding: 1.5rem;
  margin-left: 1.25rem;
}
